# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
ENV/
env/
venv/
*.log

# General
*.swp
*.bak
*.tmp
*.log
*.out
*~
.idea/
.vscode/
*.iml

# AWS CLI Credentials (optional—only if you store them in project folder, which is not recommended)
.aws/

# Secret files (optional—use Git crypt or SOPS instead)
secrets.yaml
secrets.json

data/
